@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.header {
  width: 100%;
  height: 3em;
  background-color: lightgray;
  padding: 1em;
  font-weight: 500;
}

.gamebody {
  height: calc(100vh - 3em);
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.gamefield {
  width: 500px;
  height: 500px;
}

.gamefield > div {
  display: flex;
  flex-wrap: wrap;
}

.gamefield .cell {
  border: 1px black solid;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  padding: 4em;
  display: grid;
  grid-template-rows: 3em 1fr;
  border: 2px black solid;
  border-radius: 2em;
}

.modal > form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.modal input[type='submit'] {
  border: 0px;
  border-radius: 1em;
  padding: 1em 3em;
  background-color: lightgray;
}

.modal input[type='text'] {
  padding: 1em;
  border: 2px solid lightgray;
  border-radius: 0.5em;
}

.invisible {
  display: none;
}

.visible {
  position: absolute;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}